<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Infragistics.Win.UltraWinTabbedMdi.UltraTabbedMdiManager.frmMDI.UltraTabbedMdiManager1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
   <section name="LATIRAdmin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
	<supportedRuntime version="v2.0.50727"/></startup>
 <userSettings>
  <Infragistics.Win.UltraWinTabbedMdi.UltraTabbedMdiManager.frmMDI.UltraTabbedMdiManager1>
   <setting name="BinaryData" serializeAs="Xml">
    <value>
     <base64Binary>AAEAAAD/////AQAAAAAAAAAMAgAAACJJbmZyYWdpc3RpY3MuV2luLlVsdHJhV2luVGFiYmVkTWRpBQEAAAAwSW5mcmFnaXN0aWNzLlNoYXJlZC5TZXJpYWxpemF0aW9uLk9iamVjdFN0cmVhbWVyBQAAABpPYmplY3RTdHJlYW1lckFzc2VtYmx5TmFtZRRBbGxvd05lc3RlZFRhYkdyb3Vwcw1BbGxvd01heGltaXplC09yaWVudGF0aW9uCVZpZXdTdHlsZQEAAAAACAEICAIAAAAGAwAAACJJbmZyYWdpc3RpY3MuV2luLlVsdHJhV2luVGFiYmVkTWRpAQAAAAEBAAAAAgAAAAs=</base64Binary>
    </value>
   </setting>
  </Infragistics.Win.UltraWinTabbedMdi.UltraTabbedMdiManager.frmMDI.UltraTabbedMdiManager1>
  <LATIRAdmin.My.MySettings>
   <setting name="GEN_PROJECT_OUTPUT" serializeAs="String">
    <value/>
   </setting>
   <setting name="GEN_DENENVFOLDER" serializeAs="String">
    <value/>
   </setting>
   <setting name="GEN_DLLSOUTPUT" serializeAs="String">
    <value/>
   </setting>
   <setting name="LOGIN_USERNAME" serializeAs="String">
    <value/>
   </setting>
   <setting name="LOGIN_SITENAME" serializeAs="String">
    <value/>
   </setting>
   <setting name="SETTINGS_LATIRDLLSPATH" serializeAs="String">
    <value/>
   </setting>
  </LATIRAdmin.My.MySettings>
 </userSettings>
</configuration>
